*{
    box-sizing: border-box;
}
body{
    background-color: #072e4c;
    color: #000;
    display: flex;
    min-height: 100vh;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.container{
    background-color: #eee;
    min-height: 500px;
    width: 100%;
    max-width: 600px;
    color: #fff;
    margin: 200px auto;
    border-radius: 15px;
    height: auto;
    background: linear-gradient(to bottom, #007193 40%, #06024e) ;
}
.radio{
    margin-bottom: 60px;
    margin-top: 20px;
    padding-top: 100px;
    color: #f8fcff;
    font-size: 30px;
    justify-content: center;
    align-items: center;  
}
.radio p{
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}
.base{
    width: 100%;
    margin: 0%;
    overflow: hidden;
    display: block;
    float: none;
}
.base h4{
    font-size: 36px;
    margin: 10px 0 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
.block{
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
}
.title{
    font-size: 30px;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 1.5px;
    color: #ebf1f7;
    word-spacing: 2.7px;
}
input[type=number]{
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #1073d0;
    border-radius: 20px;
    color: #000305;
    font-size: 17px;
    padding: 12px;
}
input[type=number]:focus{
    background: #fafcfd;
    border: 2px solid orange;
}
input[type=button]{
    width: 60%;
    display: block;
    margin: 0 auto 20px;
    font-size: 16px;
    padding: 13px;
    border-radius: 30px;
    border: 0;
    background: #00a1ed;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}
input[type=button]:hover{
    background-color: #060686;

}
.age{
    display: block;
    margin: 10px;
    margin-top: 35px;
    padding-bottom: 20px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 2.7px;
    color: #fff;
    padding: 15px;
}