*{
    box-sizing: border-box;
}
body{
    background-color: #072e4c;
    color: #000;
    display: flex;
    min-height: 100vh;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.container{
    background-color: #eee;
    min-height: 500px;
    width: 100%;
    max-width: 600px;
    color: #fff;
    margin: 200px auto;
    border-radius: 15px;
    height: auto;
    background: linear-gradient(to bottom, #007193 40%, #06024e) ;
}
.radio{
    margin-bottom: 80px;
    margin-top: 20px;
    padding-top: 100px;
    color: #f8fcff;
    font-size: 30px;
    justify-content: center;
    align-items: center;  
}
.radio p{
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}